/* ****** Body ***** */

body {
  padding-top: 80px;
  background:#333;
}

/* ****** Text ***** */

p,h1,h2,h3,label {
  color: white;
}

/* ****** Table ***** */

.table  {
  background-color: #ffffff;
}

th {
    background-color: #337AB7;
    color: #ffffff;
} 

.fixed-table-pagination  {
  background-color: #ffffff;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
   background-color: #ecf6fc;
}

.table-hover tbody tr:hover {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

.table-striped > tbody > tr:nth-child(odd):hover > td, .table-striped > tbody > tr:nth-child(odd):hover > th {
  background-color: #aaaaaa;
  color: #FFFFFF;
}

/* ****** Navbar ***** */

.navbar {
  background:#337AB7;  
}

.navbar .navbar-nav > li > a {
    color: #FFF;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #FFF;
}

/* ****** Container ***** */

.container {
    max-width: 400px;
}